// Primary
$color-primary-red: hsl(0, 78%, 62%);
$color-primary-cyan: hsl(180, 62%, 55%);
$color-primary-orange: hsl(34, 97%, 64%);
$color-primary-blue: hsl(212, 86%, 64%);

// Neutral
$color-grey-light: hsl(0, 0%, 98%);
$color-grey-blue: hsl(229, 6%, 66%);
$color-dark-blue: hsl(234, 12%, 34%);

